{% extends 'layout.html' %}

{% block content %}

<form action='/contacts/{{ contact.id }}/edit' method="post">
  <fieldset>
    <legend>Contact Values</legend>
    <p>
      <label for="first">First Name</label>
      <input type="first" name="first" value="{{ contact.first or '' }}"
        placeholder="First Name" >
      <span class="error">
        {{ contact.errors['first'] or ''}}
      </span>
    </p>
    <p>
      <label for="last">Last Name</label>
      <input type="last" name="last" value="{{ contact.last or '' }}"
        placeholder="Last Name" >
      <span class="error">
        {{ contact.errors['last'] or ''}}
      </span>
    </p>
    <p>
      <label for="phone">Phone</label>
      <input type="phone" name="phone" value="{{ contact.phone or '' }}"
        placeholder="Phone" >
      <span class="error">
        {{ contact.errors['phone'] or ''}}
      </span>
    </p>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" value="{{ contact.email or '' }}"
        placeholder="Email" >
      <span class="error">
        {{ contact.errors['email'] or ''}}
      </span>
    </p>
    <button>Save</button>
  </fieldset>
</form>

<form action="/contacts/{{ contact.id }}/delete" method="post">
  <button>Delete Contact</button> 
</form>

<p>
  <a href="/contacts">Back</a>
</p>

{% endblock %}
